body {
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
}
h1 img {
  vertical-align: middle;
}
button {
  padding: 10px;
  margin: auto;
  display: block;
}
.quote {
  font-size: 18px;
  font-style: italic;
}
#source {
  text-align: right;
}
#error {
  color: red;
  font-weight: bold;
}
#success {
  color: green;
  font-weight: bold;
}