span.highlight {
    background:rgba(255, 255, 0, 0.5) !important;
}
span.highlight:hover {
    border: solid rgba(255, 99, 33, 1) 1px !important;
    cursor: pointer;
}
span.info-overlay {
    padding: 5px;
    position: absolute;
    background-color: #ffe6e6;
    border: solid rgba(255, 99, 33, 1) 1px !important;
    z-index: 999;
    vertical-align: middle;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}